.timer-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 2.5%;
  color: var(--primary-color-dark);
}

.countdown__time-up {
  background: var(--alert-color);
  color: var(--button-text-color);
}
