.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 82%;
}

.box {
  position: relative;
  width: 100%;
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.board {
  position: absolute;
  border: 3px solid lightskyblue;
  border-radius: 7px;
  display: grid;
  row-gap: 3px;
  column-gap: 3px;
  padding: 3px;
  background: lightskyblue;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.board__four-by-four {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.board__five-by-five {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.board__six-by-six {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3px;
  align-items: center;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 7px;
  font-weight: 600;
  font-size: 8vw;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  background: white;
  grid-column: auto / span 1;
  grid-row: auto / span 1;
}

@media only screen and (min-width: 768px) {
  .app-container {
    width: 55%;
  }
  .dice-container {
    font-size: 2.8em;
  }
}

@media only screen and (min-width: 1050px) {
  .app-container {
    width: 35%;
  }
  .dice-container {
    font-size: 3em;
  }
}
