* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
}

button {
  padding: 10px;
  background: white;
  border: 2px solid lightskyblue;
  border-radius: 3px;
  cursor: pointer;
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: white;
  border: 2px solid lightskyblue;
  border-radius: 3px;
  cursor: pointer;
  text-align-last: center;
}

p {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: white;
  border: 2px solid lightskyblue;
  border-radius: 3px;
}
